                    <!-- BEGIN comment_list -->
                    <h4 class="m-t-lg m-b">Comments</h4>
                    
                    <section class="comment-list block">
                    <!-- BEGIN comment --> 
					<!-- #BEGIN comment.row -->
                      <article id="comment-id-1" class="comment-item">
                        <a class="pull-left thumb-sm">
                          <img src="{TPL_LINK}/images/a0.png" class="img-circle">
                        </a>
                        <section class="comment-body m-b">
                          <header>
                            <a href="#"><strong>{comment.POSTER}</strong></a>
                          </header>
                          <div class="m-t-sm">{comment.CONTENT}</div>
                        </section>
                      </article>
                    <!-- #END comment.row -->
					<!-- END comment -->
                    </section>
                    <!-- END comment_list -->