
            <section class="w-f-md" id="bjax-target">
              <section class="hbox stretch">
						<!-- BOX box_category_menu() -->
                <section>
                  <section class="vbox">
                    <section class="scrollable padder-lg">
                      <h2 class="font-thin m-b">{CAT_TITLE}</h2>
                      <div class="row row-sm">
                      	<!-- BEGIN list --> 
						<!-- #BEGIN list_row -->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="text-info padder m-t-sm text-sm">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o text-muted"></i>
                            </div>
                            <div class="center text-center m-t-n">
                              <a href="javascript:;" data-toggle="class" data-id="1{song.ID}" class="play-me i-lg">
	            				<i class="icon-control-play text"></i>
	            				<i class="icon-control-pause text-active"></i>
	          					</a>
                            </div>
                            <div class="bottom padder m-b-sm">
                              <a href="#" class="pull-right" data-toggle="class">
                                <i class="fa fa-heart-o text"></i>
                                <i class="fa fa-heart text-active text-danger"></i>
                              </a>
                              <a href="javascript:;" data-c-id="1{song.ID}" data-toggle="tooltip" title="Add to playlist" class="playlist-me">
                                <i class="fa fa-plus-circle"></i>
                              </a>
                            </div>
                          </div>
                          <a href="#"><img src="{song.POSTER}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="{song.URL}" class="text-ellipsis">{song.TITLE}</a>
                          <a href="{singer.URL}" class="text-ellipsis text-xs text-muted">{singer.NAME}</a>
                        </div>
                      </div>
                    </div>
                        <!-- #END list_row -->
						<!-- END list -->
                      </div>
                      {VIEW_PAGES}
                    </section>                    
                  </section>
                 </section>
              </section>
            </section>
            