
<section class="w-f-md" id="ajax-container">
    <section class="vbox">
    	<section class="scrollable wrapper-lg">
		  <div class="row">
		    <div class="col-sm-9">
				<div class="panel wrapper-md">
					<div itemscope="" itemtype="http://schema.org/Product">
					    <div class="row">
							<div class="col-sm-4">
								<img width="256" height="256" src="{album.IMG}" class="m-b img-full wp-post-image" alt="m13" sizes="(max-width: 256px) 100vw, 256px" />															</div>
							<div class="col-sm-8">
								<h1 class="m-t-xs m-b-sm entry-title text-black"><span itemprop="name">{album.NAME}</span></h1>
								<div class="entry-meta clearfix m-b">
								  <span class="m-r">Artist: <a href="{singer.URL}" rel="tag">{singer.NAME}</a></span>
								</div>
								<div class="m-b-lg m-t-md">
									<a href="javascript:;" data-id="{album.ID}" class="play-me btn btn-default btn-icon">
									    <i class="fa fa-play text"></i>
									    <i class="fa fa-pause text-active"></i>
									  </a>
									<div class="btn-group">
										<a href="#" class="btn btn-default" data-toggle="dropdown">Share <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
											<a href="http://twitter.com/home?status=Check+this+out%3A+http%3A%2F%2Fflatfull.com%2Fwp%2Fmusik%2Fmusic%2Ftop-board-june%2F" title="Share Top Board &#8211; June on Twitter">Share on Twitter</a>
											</li>
											<li>
											<a href="https://plus.google.com/share?url=http%3A%2F%2Fflatfull.com%2Fwp%2Fmusik%2Fmusic%2Ftop-board-june%2F" title="Add Top Board &#8211; June to Google Plus">Add to Google+</a>
											</li>
											<li>
											<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fflatfull.com%2Fwp%2Fmusik%2Fmusic%2Ftop-board-june%2F&t=Check+this+out" title="Share Top Board &#8211; June on Facebook">Share on Facebook</a></li>
											</ul>
									</div>
								</div>
							<div class="m-b-lg clearfix">
																								        </div>
							</div>
					    </div>
					</div>
					<div class="m-t">
						<p>{album.INFO}</p>
					</div>
				</div>
				<!-- BEGIN album_songs -->
		       	<h3 class="m-b">Music</h3>
		        <div class="list-group list-group-lg">
		                <!-- BEGIN list --> 
						<!-- #BEGIN list_row -->
		        	<div class="list-group-item">
		            	<article id="post-1{song.ID}" class="item hover m-b-none clearfix post-118 type-download status-publish has-post-thumbnail hentry download_category-metal download_category-pop download_category-pop-punk download_category-punk download_artist-miaow odd edd-download edd-download-cat-metal edd-download-cat-pop edd-download-cat-pop-punk edd-download-cat-punk">
						<div class="pos-rlt pull-left m-r">
			    			<div class="item-overlay opacity r bg-black">
	        					<div class="center text-center m-t-n-sm">
	          						<a href="javascript:;" data-toggle="class" data-id="1{song.ID}" class="play-me i-lg">
	            						<i class="icon-control-play text"></i>
	            						<i class="icon-control-pause text-active"></i>
	          						</a>
	        					</div>
	    					</div>
        	    			<a href="index.php?act=song&id={song.ID}" data-pjax title="Hidden" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b15-150x150.jpg" class="r img-full wp-post-image" alt="b15" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b15-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b15.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
						</div>

						<div class="clear">
        	    			<a href="index.php?act=song&id={song.ID}" data-pjax title="Hidden" class="text-ellipsis font-bold">{song.TITLE}</a>
					    </div>
						</article>
		            </div>
		            <!-- #END list_row -->
					<!-- END list -->
		        </div>
				<!-- END album_songs -->
		        <a name="comments"></a>
				<div class="comments-area">
				<div id="respond" class="comment-respond">
				<h3 id="reply-title" class="comment-reply-title">Leave a comment <small>
				<a rel="nofollow" id="cancel-comment-reply-link" href="/wp/musik/music/top-board-june/#respond" style="display:none;">Cancel reply</a></small></h3>				
				<form action="http://flatfull.com/wp/musik/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
				<p class="logged-in-as"><a href="http://flatfull.com/wp/musik/members/pisi/profile/edit/" aria-label="Logged in as Thanh Nguyen. Edit your profile.">Logged in as Thanh Nguyen</a>. <a href="http://flatfull.com/wp/musik/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fflatfull.com%2Fwp%2Fmusik%2Fmusic%2Ftop-board-june%2F&amp;_wpnonce=2c5e6d792f">Log out?</a></p><div class="form-group"><label for="comment">Comment:</label><textarea class="form-control" id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></div><input name="submit" class="btn btn-default m-b" type="submit" value="Post Comment" /><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='417' id='comment_post_ID' />
				<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
				</p>				
				</form>
					</div><!-- #respond -->
		
				</div><!-- #comments -->

			<script type="text/javascript">
	jQuery('document').ready(function($){
	    var commentform=$('#commentform'); // find the comment form
	    commentform.prepend('<div id="comment-status" ></div>'); // add info panel before the form to provide feedback or errors
	    var statusdiv=$('#comment-status'); // define the infopanel

	    commentform.submit(function(){
	        //serialize and store form data in a variable
	        var formdata=commentform.serialize();
	        //Add a status message
	        statusdiv.html('<p>Processing...</p>');
	        //Extract action URL from commentform
	        var formurl=commentform.attr('action');
	        //Post Form with data
	        $.ajax({
	            type: 'post',
	            url: formurl,
	            data: formdata,
	            error: function(XMLHttpRequest, textStatus, errorThrown)
	                {
	                    statusdiv.html('<p class="ajax-error text-danger" >You might have left one of the fields blank, or be posting too quickly</p>');
	                },
	            success: function(data, textStatus){
	                if(data == "success" || textStatus == "success"){
	                    statusdiv.html('<p class="ajax-success text-success" >Thanks for your comment. We appreciate your response.</p>');
	                }else{
	                    statusdiv.html('<p class="ajax-error text-danger" >Please wait a while before posting your next comment</p>');
	                    commentform.find('textarea[name=comment]').val('');
	                }
	            }
	        });
	        return false;
	    });
	});
</script>


		    </div>
		    <div class="col-sm-3">
		      <div class="widget-1 widget-odd widget_music_post_widget widget"><h4 class="widget-title">Top 5 Songs</h4><div class="list-group list-group-lg">          <div class="list-group-item">              <article id="post-1004" class="item hover m-b-none clearfix post-1004 type-download status-publish has-post-thumbnail hentry download_category-country download_artist-trevorgoodrum odd edd-download edd-download-cat-country">
	<div class="pos-rlt pull-left m-r">
			    <div class="item-overlay opacity r bg-black">
	        <div class="center text-center m-t-n-sm">
	          <a href="javascript:;" data-id="1004" class="play-me i-lg">
	            <i class="icon-control-play text"></i>
	            <i class="icon-control-pause text-active"></i>
	          </a>
	        </div>
	    </div>
        	    <a href="http://flatfull.com/wp/musik/music/country-girl-shake-it-for-me/" data-pjax title="Country girl shake it for me" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m0-150x150.jpg" class="r img-full wp-post-image" alt="m0" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m0-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m0.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
	</div>

	<div class="clear">
                  <div class="pull-right hover-action">
            	<form id="edd_purchase_1004" class="edd_download_purchase_form edd_purchase_1004" method="post">

		
		<div class="edd_purchase_submit_wrapper">
			<a href="#" class="edd-add-to-cart btn btn-xs btn-danger blue edd-submit" data-action="edd_add_to_cart" data-download-id="1004" data-variable-price="no" data-price-mode=single data-price="0.00" ><span class="edd-add-to-cart-label">Free</span> <span class="edd-loading"><i class="edd-icon-spinner edd-icon-spin"></i></span></a><input type="submit" class="edd-add-to-cart edd-no-js btn btn-xs btn-danger blue edd-submit" name="edd_purchase_download" value="Free" data-action="edd_add_to_cart" data-download-id="1004" data-variable-price="no" data-price-mode=single /><a href="http://flatfull.com/wp/musik/checkout/" class="edd_go_to_checkout btn btn-xs btn-danger blue edd-submit" style="display:none;">Checkout</a>
							<span class="edd-cart-ajax-alert" aria-live="assertive">
					<span class="edd-cart-added-alert" style="display: none;">
						<i class="edd-icon-ok" aria-hidden="true"></i> Added to cart					</span>
				</span>
								</div><!--end .edd_purchase_submit_wrapper-->

		<input type="hidden" name="download_id" value="1004">
							<input type="hidden" name="edd_action" class="edd_action_input" value="add_to_cart">
		
		
		
	</form><!--end #edd_purchase_1004-->
          </div>
        	    <a href="http://flatfull.com/wp/musik/music/country-girl-shake-it-for-me/" data-pjax title="Country girl shake it for me" class="text-ellipsis font-bold">Country girl shake it for me</a>
	    <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" rel="tag">Trevorgoodrum</a></div>        	</div>
</article>
          </div>          <div class="list-group-item">              <article id="post-1425" class="item hover m-b-none clearfix post-1425 type-download status-publish has-post-thumbnail hentry download_category-folk download_tag-radio even edd-download edd-download-cat-folk edd-download-tag-radio">
	<div class="pos-rlt pull-left m-r">
			    <div class="item-overlay opacity r bg-black">
	        <div class="center text-center m-t-n-sm">
	          <a href="javascript:;" data-id="1425" class="play-me i-lg">
	            <i class="icon-control-play text"></i>
	            <i class="icon-control-pause text-active"></i>
	          </a>
	        </div>
	    </div>
        	    <a href="http://flatfull.com/wp/musik/music/shoutcast/" data-pjax title="SHOUTcast" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg" class="r img-full wp-post-image" alt="photo-1422022098106-b3a9edc463af" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-350x350.jpeg 350w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
	</div>

	<div class="clear">
                  <div class="pull-right hover-action">
            	<form id="edd_purchase_1425" class="edd_download_purchase_form edd_purchase_1425" method="post">

		
		<div class="edd_purchase_submit_wrapper">
			<a href="#" class="edd-add-to-cart btn btn-xs btn-danger blue edd-submit" data-action="edd_add_to_cart" data-download-id="1425" data-variable-price="no" data-price-mode=single data-price="0.00" ><span class="edd-add-to-cart-label">Free</span> <span class="edd-loading"><i class="edd-icon-spinner edd-icon-spin"></i></span></a><input type="submit" class="edd-add-to-cart edd-no-js btn btn-xs btn-danger blue edd-submit" name="edd_purchase_download" value="Free" data-action="edd_add_to_cart" data-download-id="1425" data-variable-price="no" data-price-mode=single /><a href="http://flatfull.com/wp/musik/checkout/" class="edd_go_to_checkout btn btn-xs btn-danger blue edd-submit" style="display:none;">Checkout</a>
							<span class="edd-cart-ajax-alert" aria-live="assertive">
					<span class="edd-cart-added-alert" style="display: none;">
						<i class="edd-icon-ok" aria-hidden="true"></i> Added to cart					</span>
				</span>
								</div><!--end .edd_purchase_submit_wrapper-->

		<input type="hidden" name="download_id" value="1425">
							<input type="hidden" name="edd_action" class="edd_action_input" value="add_to_cart">
		
		
		
	</form><!--end #edd_purchase_1425-->
          </div>
        	    <a href="http://flatfull.com/wp/musik/music/shoutcast/" data-pjax title="SHOUTcast" class="text-ellipsis font-bold">SHOUTcast</a>
	            	</div>
</article>
          </div>          <div class="list-group-item">              <article id="post-215" class="item hover m-b-none clearfix post-215 type-download status-publish has-post-thumbnail hentry download_category-acoustic download_tag-dance download_artist-miaow odd edd-download edd-download-cat-acoustic edd-download-tag-dance">
	<div class="pos-rlt pull-left m-r">
			    <div class="item-overlay opacity r bg-black">
	        <div class="center text-center m-t-n-sm">
	          <a href="javascript:;" data-id="215" class="play-me i-lg">
	            <i class="icon-control-play text"></i>
	            <i class="icon-control-pause text-active"></i>
	          </a>
	        </div>
	    </div>
        	    <a href="http://flatfull.com/wp/musik/music/the-separation/" data-pjax title="The Separation" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m17-150x150.jpg" class="r img-full wp-post-image" alt="m17" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m17-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m17.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
	</div>

	<div class="clear">
                  <div class="pull-right hover-action">
            	<form id="edd_purchase_215" class="edd_download_purchase_form edd_purchase_215" method="post">

		
		<div class="edd_purchase_submit_wrapper">
			<a href="#" class="edd-add-to-cart btn btn-xs btn-danger blue edd-submit" data-action="edd_add_to_cart" data-download-id="215" data-variable-price="no" data-price-mode=single data-price="0.99" ><span class="edd-add-to-cart-label">&#36;0.99</span> <span class="edd-loading"><i class="edd-icon-spinner edd-icon-spin"></i></span></a><input type="submit" class="edd-add-to-cart edd-no-js btn btn-xs btn-danger blue edd-submit" name="edd_purchase_download" value="&#036;0.99" data-action="edd_add_to_cart" data-download-id="215" data-variable-price="no" data-price-mode=single /><a href="http://flatfull.com/wp/musik/checkout/" class="edd_go_to_checkout btn btn-xs btn-danger blue edd-submit" style="display:none;">Checkout</a>
							<span class="edd-cart-ajax-alert" aria-live="assertive">
					<span class="edd-cart-added-alert" style="display: none;">
						<i class="edd-icon-ok" aria-hidden="true"></i> Added to cart					</span>
				</span>
															</div><!--end .edd_purchase_submit_wrapper-->

		<input type="hidden" name="download_id" value="215">
							<input type="hidden" name="edd_action" class="edd_action_input" value="add_to_cart">
		
		
		
	</form><!--end #edd_purchase_215-->
          </div>
        	    <a href="http://flatfull.com/wp/musik/music/the-separation/" data-pjax title="The Separation" class="text-ellipsis font-bold">The Separation</a>
	    <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/miaow/" rel="tag">Miaow</a></div>        	</div>
</article>
          </div>          <div class="list-group-item">              <article id="post-219" class="item hover m-b-none clearfix post-219 type-download status-publish has-post-thumbnail hentry download_category-acoustic download_category-ambient download_artist-miaow even edd-download edd-download-cat-acoustic edd-download-cat-ambient">
	<div class="pos-rlt pull-left m-r">
			    <div class="item-overlay opacity r bg-black">
	        <div class="center text-center m-t-n-sm">
	          <a href="javascript:;" data-id="219" class="play-me i-lg">
	            <i class="icon-control-play text"></i>
	            <i class="icon-control-pause text-active"></i>
	          </a>
	        </div>
	    </div>
        	    <a href="http://flatfull.com/wp/musik/music/bubble/" data-pjax title="Bubble" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m15-150x150.jpg" class="r img-full wp-post-image" alt="m15" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m15-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m15.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
	</div>

	<div class="clear">
                  <div class="pull-right hover-action">
            	<form id="edd_purchase_219" class="edd_download_purchase_form edd_purchase_219" method="post">

		
		<div class="edd_purchase_submit_wrapper">
			<a href="#" class="edd-add-to-cart btn btn-xs btn-danger blue edd-submit" data-action="edd_add_to_cart" data-download-id="219" data-variable-price="no" data-price-mode=single data-price="0.99" ><span class="edd-add-to-cart-label">&#36;0.99</span> <span class="edd-loading"><i class="edd-icon-spinner edd-icon-spin"></i></span></a><input type="submit" class="edd-add-to-cart edd-no-js btn btn-xs btn-danger blue edd-submit" name="edd_purchase_download" value="&#036;0.99" data-action="edd_add_to_cart" data-download-id="219" data-variable-price="no" data-price-mode=single /><a href="http://flatfull.com/wp/musik/checkout/" class="edd_go_to_checkout btn btn-xs btn-danger blue edd-submit" style="display:none;">Checkout</a>
							<span class="edd-cart-ajax-alert" aria-live="assertive">
					<span class="edd-cart-added-alert" style="display: none;">
						<i class="edd-icon-ok" aria-hidden="true"></i> Added to cart					</span>
				</span>
															</div><!--end .edd_purchase_submit_wrapper-->

		<input type="hidden" name="download_id" value="219">
							<input type="hidden" name="edd_action" class="edd_action_input" value="add_to_cart">
		
		
		
	</form><!--end #edd_purchase_219-->
          </div>
        	    <a href="http://flatfull.com/wp/musik/music/bubble/" data-pjax title="Bubble" class="text-ellipsis font-bold">Bubble</a>
	    <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/miaow/" rel="tag">Miaow</a></div>        	</div>
</article>
          </div>          <div class="list-group-item">              <article id="post-228" class="item hover m-b-none clearfix post-228 type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-miaow odd edd-download edd-download-cat-acoustic">
	<div class="pos-rlt pull-left m-r">
			    <a href="http://flatfull.com/wp/musik/music/partir/" data-pjax title="Partir" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b13-150x150.jpg" class="r img-full wp-post-image" alt="b13" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b13-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b13.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
	</div>

	<div class="clear">
                  <div class="pull-right hover-action">
            	<form id="edd_purchase_228-2" class="edd_download_purchase_form edd_purchase_228" method="post">

		
		<div class="edd_purchase_submit_wrapper">
			<a href="#" class="edd-add-to-cart btn btn-xs btn-danger blue edd-submit" data-action="edd_add_to_cart" data-download-id="228" data-variable-price="no" data-price-mode=single data-price="0.99" ><span class="edd-add-to-cart-label">&#36;0.99</span> <span class="edd-loading"><i class="edd-icon-spinner edd-icon-spin"></i></span></a><input type="submit" class="edd-add-to-cart edd-no-js btn btn-xs btn-danger blue edd-submit" name="edd_purchase_download" value="&#036;0.99" data-action="edd_add_to_cart" data-download-id="228" data-variable-price="no" data-price-mode=single /><a href="http://flatfull.com/wp/musik/checkout/" class="edd_go_to_checkout btn btn-xs btn-danger blue edd-submit" style="display:none;">Checkout</a>
							<span class="edd-cart-ajax-alert" aria-live="assertive">
					<span class="edd-cart-added-alert" style="display: none;">
						<i class="edd-icon-ok" aria-hidden="true"></i> Added to cart					</span>
				</span>
															</div><!--end .edd_purchase_submit_wrapper-->

		<input type="hidden" name="download_id" value="228">
							<input type="hidden" name="edd_action" class="edd_action_input" value="add_to_cart">
		
		
		
	</form><!--end #edd_purchase_228-2-->
          </div>
        	    <a href="http://flatfull.com/wp/musik/music/partir/" data-pjax title="Partir" class="text-ellipsis font-bold">Partir</a>
	    <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/miaow/" rel="tag">Miaow</a></div>        	</div>
</article>
          </div></div></div><div class="widget-2 widget-even widget-alt widget_music_post_widget widget"><h4 class="widget-title">New in 2015</h4><div class="list-group list-group-lg">          <div class="list-group-item">              <article id="post-1425" class="item hover m-b-none clearfix post-1425 type-download status-publish has-post-thumbnail hentry download_category-folk download_tag-radio even edd-download edd-download-cat-folk edd-download-tag-radio">
	<div class="pos-rlt pull-left m-r">
			    <div class="item-overlay opacity r bg-black">
	        <div class="center text-center m-t-n-sm">
	          <a href="javascript:;" data-id="1425" class="play-me i-lg">
	            <i class="icon-control-play text"></i>
	            <i class="icon-control-pause text-active"></i>
	          </a>
	        </div>
	    </div>
        	    <a href="http://flatfull.com/wp/musik/music/shoutcast/" data-pjax title="SHOUTcast" class="thumb-md">
	        	            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg" class="r img-full wp-post-image" alt="photo-1422022098106-b3a9edc463af" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-350x350.jpeg 350w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
	</div>

	<div class="clear">
                  <div class="pull-right hover-action">
            	<form id="edd_purchase_1425-2" class="edd_download_purchase_form edd_purchase_1425" method="post">

		
		<div class="edd_purchase_submit_wrapper">
			<a href="#" class="edd-add-to-cart btn btn-xs btn-danger blue edd-submit" data-action="edd_add_to_cart" data-download-id="1425" data-variable-price="no" data-price-mode=single data-price="0.00" ><span class="edd-add-to-cart-label">Free</span> <span class="edd-loading"><i class="edd-icon-spinner edd-icon-spin"></i></span></a><input type="submit" class="edd-add-to-cart edd-no-js btn btn-xs btn-danger blue edd-submit" name="edd_purchase_download" value="Free" data-action="edd_add_to_cart" data-download-id="1425" data-variable-price="no" data-price-mode=single /><a href="http://flatfull.com/wp/musik/checkout/" class="edd_go_to_checkout btn btn-xs btn-danger blue edd-submit" style="display:none;">Checkout</a>
							<span class="edd-cart-ajax-alert" aria-live="assertive">
					<span class="edd-cart-added-alert" style="display: none;">
						<i class="edd-icon-ok" aria-hidden="true"></i> Added to cart					</span>
				</span>
								</div><!--end .edd_purchase_submit_wrapper-->

		<input type="hidden" name="download_id" value="1425">
							<input type="hidden" name="edd_action" class="edd_action_input" value="add_to_cart">
		
		
		
	</form><!--end #edd_purchase_1425-2-->
          </div>
        	    <a href="http://flatfull.com/wp/musik/music/shoutcast/" data-pjax title="SHOUTcast" class="text-ellipsis font-bold">SHOUTcast</a>
	            	</div>
</article>
          </div></div></div>		    </div>
		  </div>
	  </section>
  	</section>
</section>

