            <section class="w-f-md" id="bjax-target">
              <section class="hbox stretch">
                <section>
                  <section class="vbox">
                    <section class="scrollable padder-lg">
                      <h2 class="font-thin m-b">{CAT_TITLE}</h2>
                      <div class="row row-sm">
                      	<!-- BEGIN list --> 
						<!-- #BEGIN list_row -->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <a href="{singer.URL}"><img src="{singer.IMG}" alt="" class="img-full r"></a>
                        </div>
                        <div class="padder-v text-center">
                          <a href="{singer.URL}" class="text-ellipsis">{singer.NAME}</a>
                        </div>
                      </div>
                    </div>
                        <!-- #END list_row -->
						<!-- END list -->
                      </div>
                      {VIEW_PAGES}
                    </section>                    
                  </section>
                 </section>
              </section>
            </section>