
                  <ul class="nav bg clearfix">
                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                      Discover
                    </li>
                    <li>
                      <a href="index.php">
                        <i class="icon icon-music-tone-alt text-success-lter"></i>
                        <span class="font-bold">What's new</span>
                      </a>
                    </li>
                    <li>
                      <a href="index.php?act=genres">
                        <i class="icon-list icon  text-info-dker"></i>
                        <span class="font-bold">Genres</span>
                      </a>
                    </li>
                    <li>
                    	<a href="index.php?act=List_Album">
                    	<i class="icon icon-disc text-success-lt"></i>
                    	<span class="font-bold">Albums</span></a>
                    <li>
                      <a href="index.php?act=singers">
                        <i class="icon icon-users text-info-lt"></i>
                        <span class="font-bold">Artists</span>
                      </a>
                    </li>
                    <li>
                      <a href="video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                        <i class="icon-social-youtube icon  text-primary"></i>
                        <span class="font-bold">Video</span>
                      </a>
                    </li>
                    <li class="m-b hidden-nav-xs"></li>
                  </ul>

