	<div class="col-sm-3">
    	<div class="panel panel-default">
    		<div class="panel-heading">Top 5 artist</div>
    		<div class="panel-body">
    		    <!-- BEGIN topfive -->
				<!-- #BEGIN topfive.row -->
    			<article class="media">
    				<div class="pos-rlt pull-left m-r">
                      <a href="{singer.URL}" class="thumb-sm">
                      <img src="{singer.IMG}" alt="{singer.NAME}" class="img-full rounded"/>
                      </a>
                  	</div>
                	<div class="">
                		<a href="{singer.URL}" class="m-t-sm m-b-sm text-ellipsis">{singer.NAME}</a>
                	</div>
				</article>
				<!-- #END topfive.row -->
				<!-- END topfive -->
			</div>
   		</div>                        
   </div>