					<ul class="pagination pagination">
						<!-- BEGIN page_block -->
						<!-- #BEGIN first_previous_page -->
                        <li><a href="{page.P_LINK}"><i class="fa fa-chevron-left"></i></a></li>
                    	<!-- #END first_previous_page -->
                    	<!-- #BEGIN current_page -->
                        <li class="active"><a href="#">{page.NUMBER}</a></li>
                        <!-- #END current_page -->
						<!-- #BEGIN page_number -->
                        <li><a href="{page.LINK}">{page.NUMBER}</a></li>
                        <!-- #END page_number -->
						<!-- #BEGIN last_next_page -->
                        <li><a href="{page.N_LINK}"><i class="fa fa-chevron-right"></i></a></li>
                        <!-- #END next_page -->
						<!-- END page_block -->
                      </ul>